<div class="type-canvas">
  <type-unit @text="there's a" @start=19100 @end=19300 @timeElapsed={{state.timeElapsed}} />
</div>

<audio src="Infinitesimal.mp3" controls onplaying={{action toggleState}} onpause={{action toggleState}} />
